{% include 'header.html' %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                            <!-- Project Card 1-->
                             {% for project in projects: %}
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="row g-0 align-items-center">
                                        <!-- Text Section -->
                                        <div class="col-12 col-md-6 col-lg-7 p-4 order-1 order-md-1">
                                            <h2 class="fw-bolder">{{ project.title }}</h2>
                                            <p>{{ project.description }}</p>
                                            <a href="{{ project.link }}" class="btn btn-primary">View Project</a>
                                        </div>
                                        
                                        <!-- Image Section -->
                                        <div class="col-12 col-md-6 col-lg-5 p-3 order-2 order-md-2">
                                            <img class="img-fluid rounded-4 shadow-sm"
                                                 src="{{ project.image_path }}"
                                                 alt="{{ project.title }} snapshot"
                                                 style="max-width: 100%; height: auto; object-fit: cover;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Project Card 2-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{url_for('contact')}}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
       {% include "footer.html"%}